<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Email</title>
    <!--    <style>-->
    <!--        a.button {-->
    <!--            -webkit-appearance: button;-->
    <!--            -moz-appearance: button;-->
    <!--            appearance: button;-->
    <!--            line-height: 50px;-->
    <!--            text-decoration: none;-->
    <!--            background-color: #00aeff;-->
    <!--            color: white;-->
    <!--            width: 200px;-->
    <!--            height: 50px;-->
    <!--            /*border: 2px solid;*/-->
    <!--            border-radius: 5px;-->
    <!--            text-align: center;-->
    <!--            align-items: center;-->

    <!--        }-->

    <!--        a.button:hover {-->
    <!--            background-color: rgba(0, 191, 255, 1);-->
    <!--        }-->


    <!--        .container {-->
    <!--            background-color: #eaeaea;-->
    <!--            border: 1px solid darkgray;-->
    <!--            border-radius: 5px;-->
    <!--            width: 800px;-->
    <!--            height: 300px;-->
    <!--            text-align: center;-->
    <!--        }-->
    <!--    </style>-->
</head>
<body>

<!--<div class="container">-->

<!--    <div>Welcome <h1 th:text="${name}"></h1></div>-->

<!--    <div>-->
<!--        Message: <p style="color: darkblue" th:text="${message}"></p></div>-->

<!--    <a href="https://google.com" class="button">Go to Google</a>-->
<!--</div>-->

<table border="0" cellspacing="0" cellpadding="0" align="center" id="m_-6053890898881608761email_table"
       style="border-collapse:collapse">
    <tbody>
    <tr>
        <td id="m_-6053890898881608761email_content"
            style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tbody>
                <tr>
                    <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td height="1" colspan="3" style="line-height:1px"></td>
                </tr>
                <tr>
                    <td>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0"
                               style="border-collapse:collapse;border:solid 1px white;margin:0 auto 5px auto;padding:3px 0;text-align:center;width:430px">
                            <tbody>
                            <tr>
                                <td width="15px" style="width:15px"></td>
                                <td style="line-height:0px;width:400px;padding:0 0 15px 0">
                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td style="width:100%;text-align:left;height:33px"><img height="33"
                                                                                                    src="https://ci3.googleusercontent.com/proxy/hiyX9R4wgvevBhtO4oeYu3EGcQ9uFSMTqdZbFHt32QfENx3h61p758XU3r4YIdSkBqKzJLVY7efaL_SaHRlKYCZ0ZFpYcDlQKfP8IKYdFc_TQbZ-xx_S4KhCLZTE4buKwQ=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/QTa-gpOyYBa.png?_nc_x=Ij3Wp8lg5Kz"
                                                                                                    style="border:0"
                                                                                                    class="CToWUd"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="15px" style="width:15px"></td>
                            </tr>
                            <tr>
                                <td width="15px" style="width:15px"></td>
                                <td style="border-top:solid 1px #dbdbdb"></td>
                                <td width="15px" style="width:15px"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" width="430" cellspacing="0" cellpadding="0"
                               style="border-collapse:collapse;margin:0 auto 0 auto">
                            <tbody>
                            <tr>
                                <td>
                                    <table border="0" width="430px" cellspacing="0" cellpadding="0"
                                           style="border-collapse:collapse;margin:0 auto 0 auto;width:430px">
                                        <tbody>
                                        <tr>
                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                                       style="border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0"
                                                                   style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td width="20" style="display:block;width:20px">
                                                                        &nbsp;&nbsp;&nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <table border="0" cellspacing="0"
                                                                               cellpadding="0"
                                                                               style="border-collapse:collapse">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                        Hi <span
                                                                                            th:text="${name}"></span>
                                                                                    </p>
                                                                                    <p th:text="${message}"
                                                                                       style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="20"
                                                                                    style="line-height:20px">&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="google.com"
                                                                                       style="color:#3b5998;text-decoration:none;display:block;width:370px">
                                                                                        <table border="0" width="390"
                                                                                               cellspacing="0"
                                                                                               cellpadding="0"
                                                                                               style="border-collapse:collapse">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td style="border-collapse:collapse;border-radius:3px;text-align:center;display:block;border:solid 1px #009fdf;padding:10px 16px 14px 16px;margin:0 2px 0 auto;min-width:80px;background-color:#47a2ea">
                                                                                                    <a href="google.com"
                                                                                                       style="color:#3b5998;text-decoration:none;display:block"
                                                                                                    >
                                                                                                        <center><font
                                                                                                                size="3"><span
                                                                                                                style="font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#fdfdfd;font-size:16px;line-height:16px">Google</span></font>
                                                                                                        </center>
                                                                                                    </a></td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </a></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="20"
                                                                                    style="line-height:20px">&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10" style="line-height:10px" colspan="1">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" width="430px" cellspacing="0" cellpadding="0"
                               style="border-collapse:collapse;margin:0 auto 0 auto;width:430px">
                            <tbody>
                            <tr>
                                <td height="5" style="line-height:5px" colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div style="color:#abadae;font-size:14px;margin:0 auto 5px auto">Instagram From
                                        Facebook<br></div>
                                    <div style="height:10px"></div>
                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">© Instagram.
                                        Facebook Inc., 1601 Willow Road, Menlo Park, CA 94025<br></div>
                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">If you didn't
                                        change your Instagram email address, <a
                                                href="https://instagram.com/accounts/remove/report_wrong_email/1fsv23a/58s-09dfcf44a059570026a54f1fdd1c4064/l6MUgtLK/YWJyb3Jqb24zZEBnbWFpbC5jb20/"
                                                style="color:#abadae;text-decoration:underline" target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://instagram.com/accounts/remove/report_wrong_email/1fsv23a/58s-09dfcf44a059570026a54f1fdd1c4064/l6MUgtLK/YWJyb3Jqb24zZEBnbWFpbC5jb20/&amp;source=gmail&amp;ust=1649142335746000&amp;usg=AOvVaw265vK3nqnQLCccZdk6kAE7">revert
                                            this change</a>.<br></div>
                                </td>
                                <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <span>
                <img
                    src="https://ci6.googleusercontent.com/proxy/CjvVeAqoOdnCHFuUk0ROpl7gvg4o4WljGEUnaMT6r4YGd1IJsroaJHVHENd20zxSs7jrV87i3DtmfRd22msPWE2SnxJHa7H6rbarYy4EOI5NekiIhbbirtMfDH83ErQqRhIxGvYuQzI4XeObDOZDZOsEMDs6=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=58fd61f84cb01G24bc2d95aca456G58fd6691acddfG278"
                    style="border:0;width:1px;height:1px" class="CToWUd">
            </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>